<AuthorizeView>
    <Authorized>
        <BarItem>
            <BarLink To="/Identity/Account/Manage"><Icon Name="IconName.User" />  @context.User.Identity?.Name!</BarLink>
        </BarItem>
        <BarItem>

            <form method="post" action="/Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </form>
        </BarItem>
    </Authorized>
    <NotAuthorized>
        <BarItem>
            <BarLink To="/Identity/Account/Register">Registro</BarLink>
        </BarItem>
        <BarItem>
            <BarLink To="/Identity/Account/Login">Login</BarLink>
        </BarItem>
    </NotAuthorized>
</AuthorizeView>